@import "tailwindcss";

html {
    background-color: #f3f4f6;
    overscroll-behavior: none;
}

body {
    font-family: monospace;
    min-width: 320px;
    font-size: 1rem;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

.prose {
    color: red;
}

.prose h1 {
    color: blue;
}